<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="field">
      <%=f.label :name%>
      <%=f.text_field :name%>
    </div>
    <div class="field">
      <%=f.label :surname%>
      <%=f.text_field :surname%>
    </div>
    <div class="field">
      <%=f.label :codice_fiscale_code%>
      <%=f.text_field :codice_fiscale_code, :class => 'codice_fiscale' %>
    </div>
    <div class="field">
      <%=f.label :birthdate %>
      <%=f.text_field :birthdate, :class => 'birthdate' %>
    </div>
    <div class="field">
      <%=f.label :birthplace%>
      <%=f.text_field :birthplace, :class => 'birthplace' %>
    </div>
  </div>

  <div class="fields">
    <div class="field">
      <%=f.label :province%>
      <%=f.text_field :province, :class => 'provincia'%>
    </div>
    <div class="field">
      <%=f.label :cap_postal_code%>
      <%=f.text_field :cap_postal_code, :class => 'cap'%>
    </div>
    <div class="field">
      <%=f.label :location%>
      <%=f.text_field :location, :class => 'comune'%>
    </div>
    <div class="field">
      <%=f.label :address1%>
      <%=f.text_field :address1%><br/>
      <%=f.text_field :address2%>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %><br/><br/>
Birthdate exploded (test purposes):<br/>
Year:<input type="text" class="birthdate_year" size="5"/>
Month:<input type="text" class="birthdate_month" size="5"/>
Day:<input type="text" class="birthdate_day" size="5"/>
